html {
    height: 100%;
}

body {
    background-color: white;
    font-family: Sora, sans-serif;
    background-image: url("wall/rain.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}


h1 {
    font-size: 28px;
    margin-top: -15px;
}

a:any-link {
    color: gray;
}

input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: solid 0.5px;
    width: 60%;
}

button {
    font-size: 14px;
    border-radius: 5px;
    margin: 15px 0px 30px 0px;
    padding: 11px 20px 11px 20px;
    border: none;
    background-color: rgb(83, 119, 30);
    color: white;
    font-family: Sora, sans-serif;
}

button:hover {
    background-color: rgb(134, 194, 50);
    border: none;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 85vh 5vh;
    grid-template-areas: ". . ." ". container ." ". . .";
  }


.container-main{
    grid-area: container;
    animation-name: fadedown;
    animation-duration: 1s;
}

.container-inside {
    background-color: white;
    border: none;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 30px black;
}

.footer {
    position: absolute;
    color: gray;
    font-size: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    bottom: 0px;
    justify-self: center;

}

.text {
    margin-left: 15px;
    margin-right: 15px;
}

.button-refresh {
    font-size: 24px;
    border-radius: 50%;
    margin: 15px 10px 30px 10px;
    padding: 5px 15px 5px 15px;
    border: 2px  solid;
    border-color: black;
    background-color: white;
    color: black;
    font-family: Sora, sans-serif;
}

.button-return {
    font-size: 24px;
    border-radius: 50%;
    margin: 15px 10px 30px 10px;
    padding: 5px 15px 5px 15px;
    border: 2px  solid;
    border-color: black;
    background-color: white;
    color: black;
    font-family: Sora, sans-serif;
}

@keyframes fadedown {
    0% { 
        opacity: 0; 
        margin-top: -10px; 
    }
    100% { 
        opacity: 1; 
    }
}

.infoIconContainer {
    padding: 10px;
margin: -20px 0px 0px 0px;
}

#infoIcon {
    border-color: black;
    border: solid 2px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    font-size: 18px;
    font-family: Sora, sans-serif;
    font-weight: 800;
    margin-left: auto;
}
  
  p {
    align-self: center;
  }
  
  