html {
    height: 100%;
}

body {
    background-image: linear-gradient(rgb(213, 242, 251), white);
    font-family: Lato, sans-serif;
}

h2 {
    font-size: 32px;
}

#przerwa {
    height: 100px;
}

#container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    animation-name: zjazd;
    animation-duration: 4s;
}

#nice-container {
    background-color: white;
    border: none;
    border-color: black;
    border-radius: 2px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*box-shadow: 10px 10px 30px grey;*/
}

#logo {
    height: 150px;
    width: 150px;
    margin-top: 30px;
}

#miasto {
    font-size: 18px;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
    width: 80%;
    height: 30px;
    border-color: lightgray;
    border: 1px solid;
    text-align: center;
    margin: 15px 0px 15px 0px;
  }

#sprawdz {
    font-size: 18px;
    border-radius: 5px;
    margin: 15px 0px 30px 0px;
    padding: 10px 20px 10px 20px;
    border-color: black;
    border: none;
    background-color: rgb(83, 119, 30);
    color: white;
}

#miasto:active {
    border: 1px solid;
    border-color: lightgrey;
}

#sprawdz:hover {
    background-color: rgb(134, 194, 50);
    border: none;
}

#sprawdz:active {
    background-color: rgb(49, 70, 19);
    border: none;
}

.footer {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

#footer {
    color: gray;
    font-size: 10px;
    text-align: center;
}

a:any-link {
    color: gray;
}

@keyframes zjazd {
    0% { 
        opacity: 0; 
        margin-top: -30px; 
    }
    100% { 
        opacity: 1; 
        top: 20px;  
    }
}